<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-site-verification" content="SgDbRBEfCcQn8MWjG6b65xehcJXToTM0kHKwiYTD76A" />
    
    
    <!-- Latest compiled and minified CSS & JS -->
    {{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> --}}
    <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/sketchy/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>

    <title>Andrew's Portfolio</title>
</head>
<body>
    <style>
          .navbar {
                border-radius:0px;
            }
            .navbar a {
                color:white;
            }
            .navbar-brand h3{
                padding:0px;
                margin:0px !important;
            }
            .dropdown-menu a{
                color:black !important;
            }
            body{
                background-color:#F5F5F5;
            }
            .nav-icon{
                margin-right:15px;
                color:#F5F5F5;
            }
            .footer{
                position:fixed;
                width:100%;
                bottom:0;
                background-color:#212529;
                color:white;
                height:55px;
            }
            .footer p {
                margin-top: 15px;
            }
    </style>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">Andrew Reyes-Cairo</a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarColor01" style="">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Pages</a>
                <div class="dropdown-menu">
                <a class="dropdown-item" href="/about">About Me</a>
                <a class="dropdown-item" href="/skills">My Skills</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/contact">Contact Me</a>
                <a class="dropdown-item" href="/projects">Projects</a>
                </div>
            </li>
            </ul>
            <a href="https://github.com/AndyRC6" target="_blank"><i class="nav-icon fab fa-github-square fa-2x"></i></a>
            <a href="https://www.linkedin.com/in/andrew-reyes-cairo/" target="_blank"><i class="nav-icon fab fa-linkedin fa-2x"></i></a>
            <a href="https://stackoverflow.com/users/4234150/andyrc" target="_blank"><i class="nav-icon fab fa-stack-overflow fa-2x"></i></a>
        </div>
    </nav>


    {{{body}}}

    
        <div class=" footer">
            <p class="text-center">© Copyright 2017 Andrew Reyes-Cairo</p>
        </div>
</body>
</html>