<style>
    .pagelink{
        margin-right:20px;
        text-decoration:none;

    }
</style>

<br />
<br />
<br />


<div class="container animated fadeIn">
    <div class="row type-row">

        <div class="col-md-5"></div>
        <a class="pagelink" href="/cms/projects">projects</a>
        <a class="pagelink" href="/cms/users">users</a>
        </div>


        </div>
    </div>

    <hr />

<div class="container">

</div>