
<style>
    #log-in-div {
        background-color:#e24e42;
        border:solid;
        padding:10px;
        box-shadow: 5px 5px 5px grey;
        margin-top:20%;
    }
</style>

<div class="container">

    <div class="row">
        <div class="col-md-4 offset-md-4" id="log-in-div">
            <form action="/login" method="POST" role="form">
                <legend>Log in</legend>
            
                <div class="form-group">

                    <label for="">UserName</label>
                    <input type="text" class="form-control" name="username">

                    <label for="">Password</label>
                    <input type="password" class="form-control" name="password">
                </div>
            
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <br />
            <div class="alert alert-warning">
                <p><span class="glyphicon glyphicon-info-sign"></span> This log in page is for admins only. You cannot register an account for this site.</p>
            </div>
            {{#if error401}}
            <div class="alert alert-danger">
                <p><span class="glyphicon glyphicon-exclamation-sign"></span> {{error401}}</p>
            </div>
            {{/if}}
            {{#if error400}}
            <div class="alert alert-danger">
                <p><span class="glyphicon glyphicon-exclamation-sign"></span> {{error400}}</p>
            </div>
            {{/if}}
        </div>
    </div>
    
</div>