
<style>
  .parallax{
    background-image: url('assets/images/pexels-photo-389818.jpg');
    /* Set a specific height */
    min-height: 500px;
    position:sticky;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .jumbotron {
    color:white;
    height:500px;
    background-color:black;
    background-image: url('assets/images/pexels-photo-296322.jpg');
    background-size:contain;                      /* <------ */
    background-repeat:no-repeat;
    background-position: center center;
    border:none !important;
    border-radius:0px !important;
    margin-bottom:0px;
  }
.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  margin-bottom:100px;
  margin-left:75%;
  border-top: 30px solid black;
}
  .card {
    box-shadow: 5px 5px 5px grey;
    transition:background-color 1s ease;
  }
  .card:hover{
    background-color:rgba(0, 0, 0, 0.06);
    cursor:grab;
  }
  .card-text{
    height:100px;
  }
  .card-subtitle{
    height:60px;
  }
  .jumbo-container{
    margin-top:35px;
  }
  @media only screen and (max-width: 800px) {
    .arrow-down{
      border-color:#F5F5F5;
      margin-bottom:100px;
    }
}
</style>

<script>
$(document).ready(function(){
  $(window).scroll(function() {
    var initialScroll = 1;
    $(".home-jumbotron").css("opacity", (initialScroll - $(window).scrollTop() * .002).toString());
});

$(".card-container").hover(function(){
  $(this).animate({
    position: "relative",
    bottom:"20px"
  }, "slow");
})

$(".card-container").mouseleave(function(){
  $(this).animate({
    position: "static",
    bottom:"0px"
  }, "fast");
});

$("#skills-btn").on("click", function(){
  window.location.href = "/skills";
})

$("#contact-btn").on("click", function(){
  window.location.href = "/contact";
})

$("#projects-btn").on("click", function(){
  window.location.href = "/projects";
})

$("#about-btn").on("click", function(){
  window.location.href = "/about";
})



})
</script>



{{!-- JumboTron --}}
<div class="home-jumbotron">
  <div class="jumbotron jumbotron animated fadeIn">
    <div class="container jumbo-container">
      <h1 class="display-1">Welcome!</h1>
      <p class="lead">Jumbo helper text</p>
      <hr class="my-2">
      <p>More info</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Jumbo action name</a>
      </p>
    </div>
  </div>
  <div class="arrow-down animated fadeIn"></div>

</div>
{{!-- End JumboTron --}}
<div class="container">
  
  <div class="row">
    <div class="col-md-3 card-container">
      {{!-- Begin Card --}}
      <div class="card mb-3 animated fadeIn">
          <h3 class="card-header"><b>About Me</b></h3>
          <div class="card-body">
            <h5 class="card-title">Get to Know Me</h5>
            <h6 class="card-subtitle text-muted">Click the button below to check out my bio</h6>
          </div>
          <img class="mx-auto" style="height: 200px; width: 100%; display: block;" src="assets/images/me.jpg" alt="Card image">
          <div class="card-body">
            <p class="card-text">This page includes my bio. If you want to learn more about who I am and what I do, you're in the right place!</p>
          </div>
          <div class="card-body">
            <div class="form-row text-center">
              <div class="col-12">
                  <button id="about-btn" type="button" class="btn btn-secondary text-center">Take me there!</button>
              </div>
            </div>
          </div>
          <div class="card-footer text-muted">
            3/7/2018
          </div>
      </div>
      {{!-- End Card --}}
    </div>
    <div class="col-md-3 card-container">
      {{!-- Begin Card --}}
      <div class="card mb-3 animated fadeIn">
          <h3 class="card-header"><b>My Skills</b></h3>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <h6 class="card-subtitle text-muted">Support card subtitle</h6>
          </div>
          <img style="height: 200px; width: 100%; display: block;" src="assets/images/pexels-photo-574073.jpg" alt="Card image">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <div class="card-body">
            <div class="form-row text-center">
              <div class="col-12">
                  <button id="skills-btn" type="button" class="btn btn-secondary text-center">Take me there!</button>
              </div>
            </div>
          </div>
          <div class="card-footer text-muted">
            2 days ago
          </div>
      </div>
      {{!-- End Card --}}
      
    </div>
    <div class="col-md-3 card-container">
      {{!-- Begin Card --}}
      <div class="card mb-3 animated fadeIn">
          <h3 class="card-header"><b>Contact Me</b></h3>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <h6 class="card-subtitle text-muted">Support card subtitle</h6>
          </div>
          <img style="height: 200px; width: 100%; display: block;" src="assets/images/pexels-photo-699122.jpg" alt="Card image">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <div class="card-body">
            <div class="form-row text-center">
              <div class="col-12">
                  <button id="contact-btn" type="button" class="btn btn-secondary text-center">Take me there!</button>
              </div>
            </div>
          </div>
          <div class="card-footer text-muted">
            2 days ago
          </div>
      </div>
      {{!-- End Card --}}
      
    </div>
    <div class="col-md-3 card-container">
      {{!-- Begin Card --}}
      <div class="card mb-3 animated fadeIn">
          <h3 class="card-header"><b>My Projects</b></h3>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <h6 class="card-subtitle text-muted">Support card subtitle</h6>
          </div>
          <img style="height: 200px; width: 100%; display: block;" src="assets/images/pexels-photo-247772.jpg" alt="Card image">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <div class="card-body">
            <div class="form-row text-center">
              <div class="col-12">
                  <button id="projects-btn" type="button" class="btn btn-secondary text-center">Take me there!</button>
              </div>
            </div>
          </div>
          <div class="card-footer text-muted">
            2 days ago
          </div>
      </div>
      {{!-- End Card --}}
      
    </div>
  </div>
</div>

<div class="parallax"></div>