<div class="container">
    
    <form action="/register" method="POST" role="form">
        <legend>Register</legend>
    
        <div class="form-group">
            <label for="">firstName</label>
            <input type="text" class="form-control" name="first_name">

            <label for="">lastName</label>
            <input type="text" class="form-control" name="last_name">

            <label for="">UserName</label>
            <input type="text" class="form-control" name="username">

            <label for="">Password</label>
            <input type="password" class="form-control" name="password">
        </div>
    
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    

</div>